### Ekspresi dasar
Python terdiri dari sintaks sederhana yang dapat langsung mengeksekusi kode. Contoh berikut adalah operasi aritmatika sederhana yang bisa dilakukan Python

In [2]:
3+4

7

In [3]:
4**4

256

In [ ]:
12*5

In [3]:
a = 3
b = 4
print(a+b)

7

## Variabel
Seperti matematika, dalam pemrograman juga dapat menggunakan variable untuk menyimpan data ataupun hasil operasi.

In [5]:
a = "halo"
b = "cuy"
c = a+" "+b
print(c)

halo cuy

In [4]:
a = 4
b = 5
c = a*b
print(c)

20

In [6]:
x = 4
y = 12

x*y

48

In [7]:
1/3

0.3333333333333333

Dari operasi di atas, dapat dilihat bahwa Python dapat mengolah berbagai jenis variabel, selama tipenya sama.

Namun jika tipenya berbeda, maka ketika akan dieksekusi akan menghasilkan *output* berupa kesalahan kode

In [6]:
a = "hallloooo"
b = 3
print(a+b)

TypeError: must be str, not int

## Logika If/Else (controller)

Seperti excel, dalam Python juga terdapat logika `if-else`. Sintaksnya adalah:
```
if kondisi:
    perintah
elif kondisi:
    perintah
else:
    perintah
```

In [19]:
a = 4
if a < 4:
    print('a kurang 4')
elif a > 4:
    print('a lebih 4')
else:
    print('a sama dengan 4')

a sama dengan 4

In [20]:
a = float(input('Enter a value: '))
if a < 4:
    print('angka yang dimasukkan kurang dari 4')
elif a > 4:
    print('angka yang dimasukkan lebih dari 4')
else:
    print('angka yang dimasukkan sama dengan dari 4')

Enter a value: 4
the entered value is equal to 4

## Tipe data
Ada beberapa tipe data dalam Python selain teks `str`, integer `int` dan float `float`. Tipe data yang lebih kompleks berbentuk (mirip) array.  
<img src="files/array.png">

Array seperti sebuah almari yang bisa memiliki indeks. Selain itu, array bisa memiliki `1`, `2` hingga `N` dimensi. Kita bisa mengakses elemennya menggunakan indeks dari array tersebut

In [8]:
teks = "Hello"
print(teks[4])

o

Dalam Python, ada tiga jenis array. Yang pertama bertipe `list`, `dict` dan `set`. Dalam `list`, indeks direpresentasikan dalam bentuk angka, dan urutan data menjadi penting.

In [14]:
list_ = [1, 2, 3, 4, 5, 5]

In [15]:
list_[4]

5

Sedangkan `dict`, data direpresentasikan dalam bentuk `key` dan `value` dan urutan tidak penting.

In [12]:
dict_ = {
    "nama": "John Doe",
    "umur": 22,
    "alamat": "Trenggalek"
}

In [13]:
dict_

{'alamat': 'Trenggalek', 'nama': 'John Doe', 'umur': 22}

In [11]:
dict_["nama"]

'John Doe'

Untuk `set`, bentuknya seperti `list` namun tidak boleh ada duplikasi. Urutan juga penting

In [21]:
sets = set(list_)

In [22]:
sets

{1, 2, 3, 4, 5}

### Iterasi (pengulangan)

Kita juga bisa melakukan iterasi dalam struktur data tersebut. Contohnya adalah list berikut

In [23]:
for n in sets:
    print(n)

1
2
3
4
5

In [27]:
for index, value in enumerate(sets):
    print(index, "Oke!")

0 Oke!
1 Oke!
2 Oke!
3 Oke!
4 Oke!

In [26]:
for n in sets:
    s = n*n
    print(n,"*",n,"=",s)

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25

In [28]:
for n in range(6):
    print(n)

0
1
2
3
4
5

In [15]:
print('a range with 10 values:', list(range(10)))
print('a range from 10 till 20', list(range(10, 20)))
print('a range from 10 till 20 with steps of 2:', list(range(10, 20, 2)))

a range with 10 values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
a range from 10 till 20 [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
a range from 10 till 20 with steps of 2: [10, 12, 14, 16, 18]

In [18]:
a = 3
if a < 4:
    print("\"a\" kurang dari 4")
else:
    print("\"a\" lebih dari 4")

"a" kurang dari 4

In [21]:
data = [1, 3, 2, 5, 7, 3, 4, 2]
datasum = 0
for i in range(len(data)):
    datasum = datasum + data[i]
    print('i, datasum: ', i, datasum)
print('total sum of data: ', datasum)

i, datasum:  0 1
i, datasum:  1 4
i, datasum:  2 6
i, datasum:  3 11
i, datasum:  4 18
i, datasum:  5 21
i, datasum:  6 25
i, datasum:  7 27
total sum of data:  27

In [5]:
for i in range(0, 6):
    p = ""
    for j in range(0, i):
        p += "*"
    print(p)
    print()

*

**

***

****

*****

## Fungsi
Fungsi disini mirip dengan fungsi dalam matematika karena dapat melakukan operasi terhadap variable yang dimasukkan.

In [1]:
def tambah(a, b):
    return a+b

tambah(1, 2)

3

In [6]:
def faktorial(n):
    f = 1
    print("f = 1",)
    for i in range(2,n+1):
        print("f =",f,"*",i,"=",f*i)
        f = f*i
        
    return f

faktorial(4)

f = 1
f = 1 * 2 = 2
f = 2 * 3 = 6
f = 6 * 4 = 24

24

Fungsi juga dapat menerima parameter dengan nilai default untuk mencegah error

In [7]:
def tambahlagi(a, b):
    return a+b

tambahlagi(1)

TypeError: tambahlagi() missing 1 required positional argument: 'b'

In [10]:
def tambahlagi(a, b=None):
    if b is None:
        return a
    else:
        return a+b

tambahlagi(2)

2

---

## Studi kasus

#### Rekombinasi DNA

Professor X adalah seorang ilmuwan bioinformatika yang sedang melakukan penelitian tentang mutasi DNA. Dia menjelaskan kepada Anda tentang dua jenis mutasi DNA.

> Ketika Adenine (A) bertukar dengan Cytosine (C), atau Guanine (G) bertukar dengan Thymine (T) maka terjadi *transversi*  
> Ketika Adenine (A) bertukar dengan Guanine (G), atau Cytosine (C) bertukar dengan Thymine (T) maka terjadi *transisi*

<img src="files/bio.gif" width="400px">

Namun karena ada ribuan baris mutasi, Professor X bingung. Dengan pengetahuan Anda, tolong bantu Professor X demi keberlangsungan umat manusia!

In [13]:
def cek_mutasi(awal, akhir):
    if awal == "A" and akhir == "C":
        return "Transversi"
    elif awal == "A" and akhir == "G":
        return "Transisi"
    elif awal == "A" and akhir == "T":
        return "Transversi"
    elif awal == "C" and akhir == "G":
        return "Transversi"
    elif awal == "C" and akhir == "T":
        return "Transisi"
    elif awal == "C" and akhir == "A":
        return "Tranversi"
    elif awal == "G" and akhir == "T":
        return "Transversi"
    elif awal == "G" and akhir == "A":
        return "Transisi"
    elif awal == "G" and akhir == "C":
        return "Transversi"
    elif awal == "T" and akhir == "A":
        return "Transversi"
    elif awal == "T" and akhir == "G":
        return "Transversi"
    elif awal == "T" and akhir == "C":
        return "Transisi"

In [16]:
gen = [
    ["A","C"],
    ["G","T"],
    ["C","T"],
    ["A","G"],
    ["T","A"],
]

for i in gen:
    awal = i[0]
    akhir = i[1]
    mutasi = cek_mutasi(awal, akhir)
    print(awal,"=>",akhir,"=",mutasi)

A => C = Transversi
G => T = Transversi
C => T = Transisi
A => G = Transisi
T => A = Transversi

Kode di atas terlalu panjang. Mari kita coba lakukan optimasi menggunakan *sedikit* logika matematika

<img src="files/logic.png">

In [1]:
def cek_mutasi_2(awal, akhir):
    if (awal == "A" and akhir == "G") or (awal == "G" and akhir == "A") or (awal == "C" and akhir == "T") or (awal == "T" and akhir == "C"):
        return "Transisi"
    else:
        return "Transversi"

In [4]:
gen = [
    ["A","C"],
    ["G","T"],
    ["C","T"],
    ["A","G"],
    ["T","A"],
]

for i in gen:
    awal = i[0]
    akhir = i[1]
    mutasi = cek_mutasi_2(awal, akhir)
    print(awal,"=>",akhir,"=",mutasi)

A => C = Transversi
G => T = Transversi
C => T = Transisi
A => G = Transisi
T => A = Transversi